.form-container {
    width: 300px;
    margin: 150px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }

  .button{
    width: 98%;
    padding: 12px;
    margin: 8px 0;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .text-input {
    background-color: #f0f0f0;
  }
  
  .button {
    background-color: #e50914;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ff0a16;
  }
  
  .error-message {
    color: #ff0a16;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1rem;
  }
  
  a {
    color: #e50914;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff0a16;
  }
  